//colors
$white: white;
$pink: #E0B6B8;

//fonts
$font_0: 'Monoton';
$font_1: 'Gruppo';

body {
  font-family: $font_1, sans-serif;
  background-image: url('./img/CosmicOrchid-min.jpg');
  background-size: cover;
  background-color: $pink;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap
}

.landing-page {
  @extend .center;
  text-align: center;
  height: 100vh;
  color: $white;
}

.landing-page__title {
  white-space: nowrap;
  margin-top: 25vh;
  h1 {
    font-weight: 300 !important;
    font-family: $font_0;
    display: inline;
    font-weight: bold;
    vertical-align: middle;
    font-size: 2.8rem;
  }
  a {
    text-decoration:none;
    color: $white;
  }
  a:hover {
    color: $pink;
  }
}

.landing-page__text {
  margin-top: 1rem;
}

img {
  max-width: 5rem;
}

h4 {
  text-transform: uppercase;
  font-size: 2rem;
}

/* bug */
section {
  text-align: center;
  &.landing-page {
    display: flex;
  }
}

.neon-pink {
  color: $white;
  /*Glow*/
  text-shadow: 0 0 10px #ffffff,
  0 0 20px  #ffffff,
  0 0 30px  #ffffff,
  0 0 40px  #E0B6B8,
  0 0 70px  #E0B6B8,
  0 0 80px  #E0B6B8,
  0 0 100px #E0B6B8,
  0 0 150px #E0B6B8;
  /*Animation*/
  animation: neonAnimation 1.5s ease-in-out infinite alternate;
}

@keyframes neonAnimation {
  from {
    text-shadow: 0 0 10px #ffffff,
    0 0 20px  #ffffff,
    0 0 30px  #ffffff,
    0 0 40px  #E0B6B8,
    0 0 70px  #E0B6B8,
    0 0 80px  #E0B6B8,
    0 0 100px #E0B6B8,
    0 0 150px #E0B6B8;
  }
  to {
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 15px #ffffff,
    0 0 20px #E0B6B8,
    0 0 35px #E0B6B8,
    0 0 40px #E0B6B8,
    0 0 50px #E0B6B8,
    0 0 75px #E0B6B8;
  }
}

/* make it weird */
.spin {
  animation-name: spin;
  animation-duration: 5s;
  display: inline-block;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media(min-width: 400px) {
  .landing-page__title {
    h1 {
      font-size: 4rem;
    }
  }
  .landing-page__text {
    h4 {
      font-size: 3rem;
    }
    h5 {
      font-size: 2rem;
    }
  }
  img {
    max-width: 5rem;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .landing-page__title {
    h1 {
      font-size: 5rem;
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .landing-page__title {
    h1 {
      font-size: 7rem;
    }
  }
  img {
    max-width: 6rem;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .landing-page__title {
    h1 {
      font-size: 10rem;
    }
  }
  .landing-page__text {
    h4 {
      font-size: 4rem;
    }
    h5 {
      font-size: 3rem;
    }
  }
  img {
    max-width: 8rem;
  }
}
