//colors
$dark_grey: #3d3f4a;
$medium_grey: #7f8291;

//fonts
$font_0: 'Amatica SC', cursive;
$font_1: 'Roboto Slab', serif;

body {
  font-family: $font_1, sans-serif;
  background: url('./img/the_boy.jpg') no-repeat;
  background-size: cover;
  background-color: $medium_grey;
}

h1 {
  margin: 0;
}

h5 {
  margin: 0;
}

.landing-page {
  text-align: center;
  color: $dark_grey;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
}

.marquee {
  margin: auto;
  a {
    color: $dark_grey;
    text-decoration:none;
  }
  a:hover {
    color: $medium_grey;
  }
}

.landing-page__title {
  font-family: $font_0;
}

@media (min-width: 320px) and (orientation: portrait) {
  h5 {
    margin-top: 0.5rem;
  }

  .focus {
    width: 67vw;
  }

  .remainder {
    width: 33vw;
  }

  .marquee {
    width: 22vw;
  }

  .landing-page__title {
    font-size: 1rem;
  }

  .landing-page__text {
    font-size: 0.5rem;
  }
}

@media (min-width: 320px) and (orientation: landscape) {
  .focus {
    width: 20vw;
  }

  .remainder {
    width: 80vw;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .focus {
    width: 50vw;
  }

  .remainder {
    width: 50vw;
  }

  .landing-page__title {
    font-size: 2rem;
  }

  .landing-page__text {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .focus {
    width: 33vw;
  }

  .remainder {
    width: 67vw;
  }

  .landing-page__title {
    font-size: 2rem;
  }

  .landing-page__text {
    font-size: 1.25rem;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 5rem;
  }

  h5 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 7rem;
  }

  h5 {
    font-size: 2rem;
  }
}
