@import "bullseye";

//colors
$dark_grey: #3d3f4a;
$medium_grey: #7f8291;

//fonts
$font_0: 'Amatica SC', cursive;
$font_1: 'Roboto Slab', serif;

body {
  font-family: $font_1, sans-serif;
  background: url("./img/the_boy_2.jpg") no-repeat;
  background-size: cover;
  background-color: $medium_grey;
}

h1 {
  margin: 0;
}

h5 {
  margin: 0;
}

.landing-page {
  color: $dark_grey;
}

.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 80vw;

  a {
    color: $dark_grey;
    text-decoration:none;
  }
  a:hover {
    color: $medium_grey;
  }
}

.landing-page__title {
  position:absolute;
  top:50%;
  left:60%;
  transform: translateX(-50%) translateY(-50%);

  font-family: $font_0;
  text-align: center;
  font-size: 3vw;
}

@media screen and (orientation:portrait) {
  .marquee {
    width: 30vw;
  }

  .landing-page__title {
    top:50%;
    left:85%;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .marquee {
    width: 50vw;
  }

  .landing-page__title {
    top:50%;
    left:75%;
  }
}
